@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}

@font-face {
    font-family: 'Loopiejuice-Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Loopiejuice-Regular'), url('Loopiejuice-Regular.woff') format('woff');
}

h1 {
    /* font-family: 'SEGA LOGO FONT'; */
    font-family: 'Loopiejuice-Regular';
    font-weight: 200;
    color: rgb(198, 172, 255);

}

input {
    font-family: 'Loopiejuice-Regular';
}
.tc{
    position: relative;
    z-index: 0;
}

.modal-container{
    position: absolute;
    /* top: 0; */
    /* bottom: 0; */
    /* left: 0; */
    /* right: 0; */
    z-index: 1;
}
.modal-container .modal{
    /* position: relative; */
    background: rgba(0, 0, 0, .5);
    height: 500px;
    width: 500px;
}
